<div class="sb-nav-fixed">
	<!-- navbar -->
	<nav class="sb-topnav navbar navbar-expand navbar-light bg-light">
		<!-- Navbar Brand-->
		<a class="navbar-brand ps-3" href="index.html"> <span class="header__icon">
                <span class="material-icons-sharp"> view_in_ar </span> </span> <span class="header__text">Photo<span class="explore">Explore</span></span>
		</a>
		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-md order-1 order-lg-0 me-4" (click)="myFunction()" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
		<!-- Navbar Search-->
		<form class="d-none d-md-inline-block form-inline">
			<div class="search-bar"> <span class="material-icons-round"> search </span>
				<input type="search" placeholder="Search"> </div>
		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ms-auto  me-lg-4">
			<li class="nav-item dropdown">
				<div class="profile-area" (click)="darkToggle()">
					<div class="theme-btn"> <span class="material-icons-sharp active light"> light_mode </span> <span class="material-icons-sharp dark"> dark_mode </span> </div>
					<div class="profile"> <span class="material-icons-round"> download </span> <span class="material-icons-round"> notifications </span> <span class="material-icons-round"> settings </span>
					<div class="profile-photo" (click)="isdropdown = !isdropdown" [attr.aria-expanded]="!isdropdown" aria-expanded="false" aria-controls="dropdownExample"> 
						<img src="./assets/images/profile.png" alt="profile"> 
						<ul id="dropdownExample" [ngbCollapse]="isdropdown">
							<li>
								<div class="text-center">
									<a>
										<img class="dd-drop" src="./assets/images/profile.png" alt="profile">
									</a>
								</div>
							</li>
							<li>
								<div  class="text-center">
									<h5>Naresh</h5>
									<p>NareshS@muthtech.com</p>
							</div>
							</li>
							<li class="content-center">
								<div class="text-center">
										<div class="btn-logout"> <a > Signout </a> </div>
								</div>
							</li>
							<li>
								<hr class="dropdown-divider" /> 
							</li>
							<li >
								<div class="d-flex justify-content-evenly">
									<a> Privacy Policy </a>
									<a> Terms & Services</a>
								</div>
							</li>
						</ul>
					</div>
					</div>
				</div>
			</li>
		</ul>
	</nav>
	<!-- sidemenu bar-->
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav" [ngClass]="[isToggleActive?'sb-sidenav-toggled':'']">
			<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="sidebar nav">
						<div class="core">
							<a routerLink="/home" routerLinkActive="active"  (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-expanded="false" aria-controls="collapseExample"> <span class="material-icons-round"> category  </span>
								<h4>Categories</h4> </a>
							<div id="collapseExample" [ngbCollapse]="isCollapsed">
								<a class="isactive" routerLink="" routerLinkActive=""> <span class="material-icons-round"> <i class="fa-solid fa-shirt"></i> </span>
									<h4>Fashion</h4> </a>
								<a class="isactive" routerLink="" routerLinkActive=""> <span class="material-icons-round"> fastfood </span>
									<h4>Foods</h4> </a>
								<a class="isactive" routerLink="" routerLinkActive=""> <span class="material-icons-round">sports_basketball </span>
									<h4>Sports</h4> </a>
								<a class="isactive" routerLink="" routerLinkActive=""> <span class="material-icons-round"> business_center </span>
									<h4>Business</h4> </a>
								<a class="isactive" routerLink="" routerLinkActive=""> <span class="material-icons-round"> <i class="fa-solid fa-camera-retro"></i> </span>
									<h4>Photography</h4> </a>
							</div>
						</div>
						<div class="core">
							<a routerLink="/brands" routerLinkActive="active" (click)="isCollapsing = !isCollapsing" [attr.aria-expanded]="!isCollapsing" aria-expanded="false" aria-controls="collapseExample"> <span class="material-icons-round"> branding_watermark </span>
								<h4>Brands</h4> </a>
							<div id="collapseExample" [ngbCollapse]="isCollapsing">
								<a class="isactive" routerLink="" routerLinkActive=""> <span class="material-icons-round"> <i class="fa-brands fa-google"></i> </span>
									<h4>Google</h4> </a>
								<a class="isactive" routerLink="" routerLinkActive=""> <span class="material-icons-round"> <i class="fa-brands fa-amazon"></i> </span>
									<h4>Amazon</h4> </a>
								<a class="isactive" routerLink="" routerLinkActive=""> <span class="material-icons-round"><i class="fa-brands fa-apple"></i></span>
									<h4>Apple</h4> </a>
								<a class="isactive" routerLink="" routerLinkActive=""> <span class="material-icons-round"> hdr_auto </span>
									<h4>Adobe</h4> </a>
							</div>
						</div>
						<div class="core">
							<a routerLink="/stores" routerLinkActive="active" (click)="Collapse = !Collapse" [attr.aria-expanded]="!Collapse" aria-expanded="false" aria-controls="collapseExample"> <span class="material-icons-round"> <i class="fa-solid fa-store"></i>  </span>
								<h4>Stores</h4> </a>
							<div id="collapseExample" [ngbCollapse]="Collapse">
								<a class="isactive" routerLink="" routerLinkActive=""> <span class="material-icons-round"> <i class="fa-solid fa-person-dress"></i> </span>
									<h4>The Raymonds</h4> </a>
								<a class="isactive" routerLink="" routerLinkActive=""> <span class="material-icons-round"> <i class="fa-solid fa-motorcycle"></i> </span>
									<h4>KTM</h4> </a>
								<a class="isactive" routerLink="" routerLinkActive=""> <span class="material-icons-round"><i class="fa-solid fa-pizza-slice"></i> </span>
									<h4>Pizza-Huts</h4> </a>
								<a class="isactive" routerLink="" routerLinkActive=""> <span class="material-icons-round"> local_grocery_store </span>
									<h4>Nilgiris</h4> </a>
							</div>
						</div>
						<div class="core">
							<a routerLink="/jwts" routerLinkActive="active" (click)="isCollapse = !isCollapse" [attr.aria-expanded]="!isCollapse" aria-expanded="false" aria-controls="collapseExample"> <span class="material-icons-round"> <i class="fa-solid fa-key"></i>  </span>
								<h4>JWTs</h4> </a>
							<div id="collapseExample" [ngbCollapse]="isCollapse">
								<a class="isactive" routerLink="" routerLinkActive=""> <span class="material-icons-round"> token </span>
									<h4>OAuth</h4> </a>
								<a class="isactive" routerLink="" routerLinkActive=""> <span class="material-icons-round"> api </span>
									<h4>Postman</h4> </a>
							</div>
						</div>
						<div class="center">
							<div class="sb-sidenav-menu-heading">Library</div>
							<a routerLink="/photos" routerLinkActive="active"> <span class="material-icons-round"> collections </span>
								<h4>Photos</h4> </a>
							<a routerLink="/explore" routerLinkActive="active"> <span class="material-icons-round"> image_search </span>
								<h4>Explore</h4> </a>
							<a routerLink="/collections" routerLinkActive="active"> <span class="material-icons-round"> layers </span>
								<h4>Collections</h4> </a>
							<a routerLink="/favorites" routerLinkActive="active"> <span class="material-icons-round"> favorite </span>
								<h4>Favorites</h4> </a>
						</div>
					</div>
				</div>
				<div class="sb-sidenav-footer">
					<div class="base-footer"> <a>Privacy</a> <a>Term</a> <a>Policy</a> </div>
				</div>
			</nav>
		</div>
		<!-- main content -->
		<div id="layoutSidenav_content" [style.padding-left]="isToggleActive ? '0px' : '225px' ">
			<main>
				<section>
					<div class="container-fluid">
						<div *ngFor="let obj of objImageList.BrandList">
							<div class="d-flex bd-highlight">
								<div class="p-2 bd-highlight header">
									<h2> {{obj.date_range}} </h2> </div>
									<div class="text-center">
										<span class="badge bg-secondary b1">Total Image : 1000</span>
										<span class="badge bg-purple b2">Selected Image : 3</span>
									</div>	
								<div class="ms-auto p-2 bd-highlight">
									<a routerLink='/brandhighlights'> <span class="showmore">See more</span> <span class="material-icons-round">chevron_right</span> </a>
								</div>
							</div>
							<div class="row" id="lightgallery">
								<div class="col-sm col-md col-lg col-xl" *ngFor="let img of obj.image_list; let i = index">
									<div class="item"[routerLink]="['/imagedetails']" [queryParams]="{id:img.Id, name:'recent'}" >
										<a class="lightbox"> <img src="{{img.url}}" id="{{img.Id}}" alt="IMage" class="img-fluid"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>				
		</div>
	</div>
</div>

